// ② common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

@keyframes wave {
    0% {
        mask-position: 0% top, center bottom;
    }

    100% {
        mask-position: 100% top, center bottom;
    }
}

@keyframes pathmove {
    0% {
        height: 0;
        top: 15px;
        opacity: 0;
    }

    30% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 65px;
        opacity: 0;
    }
}

@keyframes dot-blink {

    0%,
    to {
        opacity: 0
    }

    30%,
    70% {
        opacity: 1
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 933.7100830078px;
        stroke-dasharray: 933.7100830078px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 933.7100830078px;
    }
}

@keyframes animate-svg-stroke-2 {
    0% {
        stroke-dashoffset: 247.1970214844px;
        stroke-dasharray: 247.1970214844px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 247.1970214844px;
    }
}

@keyframes animate-svg-stroke-3 {
    0% {
        stroke-dashoffset: 61.0493621826px;
        stroke-dasharray: 61.0493621826px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 61.0493621826px;
    }
}

@keyframes animate-svg-stroke-4 {
    0% {
        stroke-dashoffset: 61.0430870056px;
        stroke-dasharray: 61.0430870056px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 61.0430870056px;
    }
}

@keyframes animate-svg-stroke-5 {
    0% {
        stroke-dashoffset: 61.0499000549px;
        stroke-dasharray: 61.0499000549px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 61.0499000549px;
    }
}

@keyframes animate-svg-stroke-6 {
    0% {
        stroke-dashoffset: 61.0478973389px;
        stroke-dasharray: 61.0478973389px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 61.0478973389px;
    }
}

@keyframes animate-svg-stroke-7 {
    0% {
        stroke-dashoffset: 61.0615196228px;
        stroke-dasharray: 61.0615196228px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 61.0615196228px;
    }
}

@keyframes animate-svg-stroke-8 {
    0% {
        stroke-dashoffset: 61.069568634px;
        stroke-dasharray: 61.069568634px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 61.069568634px;
    }
}

@keyframes a-ika-jump {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.15, 0.65);
    }

    90% {
        transform: scale(0.85, 1.15);
    }

    100% {
        transform: scale(0.85, 1.15);
    }
}

:root {
    --mh--easing04: cubic-bezier(0.22, 0.5, 0.7, 0.5);
}

@keyframes stripeMove {
  from {
    transform: translate(-25%, -25%);
  }
  to {
    transform: translate(0%, 0%);
  }
}