// ② common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

.blogSection {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: clamp(28px, vw-pc(32), 32px);

    @include mq() {
        gap: vw(32, 375);
    }

    &__ttl {
        display: flex;
        align-items: center;
        gap: clamp(14px, vw-pc(16), 18px);

        @include mq() {
            gap: vw(4,375);
        }
    }

    &__weather {
        width: clamp(56px, vw-pc(64), 64px);

        @include mq() {
            width: vw(64, 750);
        }
    }

    .diary-swiper {
        --swiper-theme-color: #2dc7c2;
    }

    .blogSection__sticker {
        @extend %sticker_img;

        &--hamburger {
            top: 5%;
            right: 0;
            transform: rotate(20deg);
        }

        &--potato {
            top: 43%;
            left: 0;
            transform: rotate(-19deg);
        }

        &--drink {
            top: 60%;
            right: 3%;
            transform: rotate(16deg);
        }

        &--controller {
            top: 10%;
            transform: rotate(-20deg);
        }

        &--invaders {
            bottom: 10%;
            right: 0;
            transform: rotate(20deg);
        }

        &--sushi {
            top: 5%;
            right: 0;
            transform: rotate(-20deg);
        }

        &--fish {
            bottom: 5%;
            left: 4%;
            transform: rotate(20deg);
        }

        &--cutlery {
            bottom: 10%;
            transform: rotate(-20deg);

        }

        &--tako {
            top: 10%;
            right: 0;
            transform: rotate(20deg);

        }

        &--sleep {
            top: 5%;
            right: 5%;
            transform: rotate(-20deg);
        }

        &--cry {
            top: 10%;
            transform: rotate(20deg);
        }

        &--battery {
            bottom: 10%;
            right: 0;
            transform: rotate(-20deg);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 64px;

        @include mq() {
            gap: vw(32, 375);
        }

        li {
            position: relative;

            article {
                @extend %card;

                overflow: visible;

                >div {
                    position: relative;
                    container-type: inline-size;

                    .diary-img {
                        border-radius: clamp(44px, vw-pc(50), 50px);
                        overflow: hidden;

                        @include mq() {
                            border-radius: vw(25, 750);
                        }
                    }
                }
            }
        }
    }
}