// ② common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

/* ページ全体のスタイル */

.sp-only {
  @include mq() {
    display: block;
  }

  @include mq-min() {
    display: none !important;
  }
}

.pc-only {
  @include mq() {
    display: none !important;
  }

  @include mq-min() {
    display: block;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.is-inview {
  opacity: 0;
  translate: 0 16px;
  transition: 1s ease;
}

.is-view {
  opacity: 1;
  translate: 0 0;
}


.en {
  font-family: "nitalago-rera", sans-serif;
}

.jp {
  font-family: "nitalago-rera", sans-serif;
}

p,
li,
a,
figcaption,
dd,
dt {
  font-family: "nitalago-rera", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(16px, vw-pc(16), 18px);
  color: $txtColor;


  @include mq() {
    font-size: vw(16, 375);
  }
}

p {
  a {
    font-weight: 700;
    background-color: $subColor;
    transition: .3s;

    &:hover {
      opacity: .5;
    }
  }
}

time,
th,
td {
  font-family: "nitalago-rera", sans-serif;

  >a {
    font-family: "nitalago-rera", sans-serif;
    transition: .3s;

    &:hover {
      opacity: .5;
    }
  }
}

th,
td {
  font-size: clamp(16px, vw-pc(16), 18px);

  @include mq() {
    font-size: vw(16, 375);
  }

  >a {
    font-size: clamp(16px, vw-pc(16), 18px);

    @include mq() {
      font-size: vw(16, 375);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee", "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;

  span {
    font-size: .5em;
    display: block;
  }
}

h2 {
  color: #fff;
  font-size: clamp(56px, vw-pc(64), 64px);
  text-shadow: 4px 4px 0 #29485c;
  text-align: center;

  @include mq() {
    font-size: vw(32, 375);
  }
}

h3,
caption,
time {
  color: $mainColor;
  font-family: "nitalago-rera", sans-serif;
  font-size: clamp(28px, vw-pc(32), 32px);
  font-weight: 700;

  @include mq() {
    font-size: vw(20, 375);
  }
}

dl {
  display: flex;
  flex-direction: column;
  gap: 8px;
  white-space: pre-wrap;

  dt{
    font-weight: 700;
  }

  dd{
    padding-left: 1em;
  }
}

p {
  line-height: 1.8;
  letter-spacing: 0.03em;
  white-space: pre-wrap;

  &+p {
    margin-top: 0.5em;
  }
}

li,
dt {
  line-height: 1.4;
  margin: 0;
}

small {
  display: block;
  padding-left: 2em;
  text-indent: -1em;
}

picture {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  background: #56d4cf;

  main {
    >section {
      padding: 3rem;
    }
  }

  &::before {
    content: "";
    position: fixed;
    inset: -150px;
    z-index: -1;
    pointer-events: none;

    @include moving-stripe($transparent-width: 60px,
      $color-width: 60px,
      $duration: 3s);
  }

  // ul {
  //   display: flex;
  //   flex-direction: column;
  // }
}

.contents-wrapper {
  display: flex;
  gap: vw-pc(60);
  margin: 0 auto;
  // justify-content: space-between;
  width: min(90vw,
      calc(90vh * 16 / 9),
      1920px);

  @include mq(tab) {
    flex-direction: column;
    gap: vw(128,750);
  }
}

.main-wrapper {
  display: flex;
  flex-flow: column;
  gap: 128px;
  padding: 32px 0 128px;

  @include mq() {
    gap: vw(128,750);
  }
}

// .swiper-pagination {
//   position: relative;

//   &-bullet {
//     width: 10px;
//     height: 10px;
//     background-color: $txtColor;
//     opacity: .5;

//     @include mq() {
//       width: vw-sp(10);
//       height: vw-sp(10);
//     }

//     &-active {
//       background-color: $mainColor;
//       opacity: 1;
//     }
//   }
// }

.load {
  background-image: url(../img/img_load_pc.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100svh;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 128, 255, 0.3);
    mix-blend-mode: saturation;
    background-size: 100%;
    width: 100%;
    height: 100%;
  }

  @include mq() {
    background-image: url(../img/img_load_sp.webp);
    background-position: bottom center;
  }

  &__animation {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);

    svg {
      width: 300px;
      height: 300px;

      @include mq() {
        width: vw-sp(200);
        height: vw-sp(200);
      }
    }

    p {
      font-size: clamp(28px, vw-pc(32), 32px);
      font-weight: 700;
      color: #fff;
      text-align: center;

      @include mq() {
        font-size: vw-sp(32);
      }
    }

    .svg-elem-1 {
      animation: animate-svg-stroke-1 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
    }

    .svg-elem-2 {
      animation: animate-svg-stroke-2 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
    }

    .svg-elem-3 {
      animation: animate-svg-stroke-3 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
    }

    .svg-elem-4 {
      animation: animate-svg-stroke-4 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
    }

    .svg-elem-5 {
      animation: animate-svg-stroke-5 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
    }

    .svg-elem-6 {
      animation: animate-svg-stroke-6 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
    }

    .svg-elem-7 {
      animation: animate-svg-stroke-7 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
    }

    .svg-elem-8 {
      animation: animate-svg-stroke-8 2s cubic-bezier(0.83, 0, 0.17, 1) 0s infinite;
    }
  }

  &__dots {
    display: inline-flex;
  }

  &__dot {
    opacity: 0;
    animation: 1.2s ease-in-out infinite dot-blink;

    &:first-child {
      margin-left: 5px;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: .4s;
    }

    &:last-child {
      animation-delay: .8s;
    }
  }
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}

.no-active {
  transition-property: opacity;
  transition-delay: 0.9s;
  transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }

  /* 少しだけ上に浮く */
}