// common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

.footer {
    background-color: $mainColor;
    z-index: 0;
    margin: 0 auto;
    padding: 64px 128px 34px;
    position: relative;
    z-index: 2;
    text-align: center;

    @include mq(){
        padding: vw-sp(64) vw-sp(32) vw-sp(34);
    }

    p,
    li,
    a,
    dt,
    dd {
        color: #fff;
    }

    dt {
        border: 1px solid #fff;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(28px,vw-pc(32),32px);
        margin: 0 auto;

        @include mq(){
            flex-direction: column;
            gap: vw-sp(16);
        }

        >* {
            max-width: 500px;
            width: 100%;

            @include mq(){
                max-width: 100%;
                width: 100%;
            }
        }
    }

    &__box {
        &:first-child {
            text-align: center;

            nav {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    margin-top: 16px;

                    @include mq(){
                        gap: vw-sp(16);
                        margin-top: vw-sp(16);
                    }

                    iconify-icon {
                        font-size: 36px;
                        transition: color 0.3s ease;

                        @include mq(){
                            font-size: vw-sp(36);
                        }
                    }
                }
            }
        }

        &:last-child {}
    }

    &__logo {
        display: block;
        max-width: 500px;
        width: 100%;

        @include mq(){
            max-width: 100%;
            width: 100%;
        }
    }

    &__media {
        a {
            &:hover {
                color: $subColor;
            }
        }
    }

    &__nav {
        a {
            padding-bottom: 2px;
            position: relative;

            &:before {
                background: #fff;
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: 0;
                transform-origin: right top;
                transform: scale(0, 1);
                transition: transform .3s;
            }

            &:hover {
                &:before {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }
        }
    }

    &__btn {
        max-width: 500px;
        width: 100%;
        padding: 1.5rem 0.5rem;
        margin: 16px auto 0;
        z-index: 1;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: $mainColor;
        font-size: 16px;
        font-weight: 700;
        background-color: #fff;
        outline: none;
        border: none;
        transition: color .5s;
        cursor: pointer;
        border-radius: 30px;

        @include mq(){
            max-width: 100%;
            width: 100%;
            padding: vw-sp(24) vw-sp(8);
            border-radius: vw-sp(30);
            margin-top: vw-sp(16);
            font-size: vw-sp(16);
        }

        &:before {
            content: "";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 30px;

            @include mq(){
                border-radius: vw-sp(30);
            }
        }
    }

    &__map {
        max-width: 500px;
        width: 100%;
        border: none;
        margin: 0 auto;
        
        @include mq() {
            max-width: 100%;
        }
    }

    &__txt {
        margin-top: 16px;

        @include mq(){
            margin-top: vw-sp(16);
        }
    }

    &__cl {
        text-align: center;
        margin-top: 24px;

        @include mq(){
            margin-top: vw-sp(24);
        }
    }

    .blob-btn--secondary:before {
        border-color: #fff;
    }

    // .blob-btn__text {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }

    .blob-btn__inner {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent;
    }

    .blob-btn__blobs {
        position: relative;
        display: block;
        height: 100%;
        filter: url(#goo);
    }

    .blob-btn__blob {
        position: absolute;
        top: 2px;
        z-index: 17;
        width: 25%;
        height: 100%;
        background: $mainColor;
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform .45s;
    }

    .blob-btn__blob:nth-child(1) {
        left: 0%;
        transition-delay: 0s;
    }

    .blob-btn__blob:nth-child(2) {
        left: 30%;
        transition-delay: .08s;
    }

    .blob-btn__blob:nth-child(3) {
        left: 60%;
        transition-delay: .16s;
    }

    .blob-btn__blob:nth-child(4) {
        left: 90%;
        transition-delay: .24s;
    }

    @supports (filter: url(#goo)) {
        .blob-btn__blob {
            transform: translate3d(0, 150%, 0) scale(1.4);
        }
    }

    @supports (filter: url("#goo")) {
        .blob-btn:hover .blob-btn__blob {
            transform: translateZ(0) scale(3.2);
        }
    }

    .blob-btn:after {
        content: "";
        z-index: -2;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 100%;
        height: 100%;
        transition: all .3s .2s;
        border-radius: 30px;

        @include mq(){
            border-radius: vw-sp(30);
        }
    }

    .blob-btn--secondary:hover {
        color: #fff;
    }

    .blob-btn:hover {
        color: #fff;
        border-radius: 30px;

        @include mq(){
            border-radius: vw-sp(30);
        }
    }

    .blob-btn:hover:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
        border-radius: 30px;

        @include mq(){
            border-radius: vw-sp(30);
        }
    }
}