// common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

.about{
    display: flex;
    flex-direction: column;
    gap: clamp(28px, vw-pc(32), 32px);

    @include mq() {
        gap: vw(32, 375);
    }
}

.profile {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 16px;
    position: relative;
    container-type: inline-size;
    @extend %card;

    h3{
        text-align: center;
    }

    picture {
        border-radius: 50%;
        overflow: hidden;
    }

    &__sticker {
        @extend %sticker_prof;

        &--dog {
            top: 10%;
            left: 0;
            transform: rotate(-25deg);
        }

        &--unchi {
            bottom: 25%;
            right: 0;
            transform: rotate(25deg);
        }
    }
}

.boom{
    @extend %card;
    gap: 16px;
    align-self: flex-start;

    @include mq() {
        align-self: stretch;
    }

    h3{
        text-align: center;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    h4{
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 24px;
        color: $txtColor;

        > span{
            width: 60px;
        }
    }
}