// common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

.menuSection {
    position: relative;
    z-index: 1;
    margin-top: 32px;

    @include mq(){
        margin-top: vw-sp(32);
    }

    p,
    figcaption {
        color: #fff;
    }

    &__bg {
        @extend %wave__bg;
        width: 100%;
        height: 100%;
        min-height: 100vh;

        &::after {
            content: "";
            background-color: #0080ff42;
            mix-blend-mode: color-dodge;
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
        }


        &-movie {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            min-height: 100vh;

            video {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__contents {
        position: relative;
        padding: 64px 0;

        h2 {
            color: $bgColor;
        }

        h3 {
            color: #fff;
        }

        .swiperFood {
            @extend %swiper;

            .swiper-wrapper {
                .swiper-slide {
                    img {
                        @extend %swiper__img;
                    }

                    figcaption {
                        @extend %swiper__txt;
                    }
                }
            }
        }

        .swiperDrink {
            @extend %swiper;

            .swiper-wrapper {
                .swiper-slide {
                    img {
                        @extend %swiper__img;
                    }

                    figcaption {
                        @extend %swiper__txt;
                    }
                }
            }
        }

        .swiperTakeOut {
            @extend %swiper;

            .swiper-wrapper {
                .swiper-slide {
                    img {
                        @extend %swiper__img;
                    }

                    figcaption {
                        @extend %swiper__txt;
                    }
                }
            }
        }

        .swiper-pagination {
            position: relative;

            &-bullet {
                background-color: #fff;
                opacity: .5;

                &-active {
                    background-color: $mainColor;
                    opacity: 1;
                }
            }
        }
    }
}