// common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

.about{
    display: flex;
    flex-direction: column;
    gap: clamp(28px, vw-pc(32), 32px);

    @include mq() {
        gap: vw(32, 375);
    }

        h3{
        text-align: center;

    }
}

.profile {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 16px;
    position: relative;
    container-type: inline-size;
    @extend %card;

    picture {
        border-radius: 50%;
        overflow: hidden;
    }

    &__sticker {
        @extend %sticker_prof;

        &--dog {
            top: 10%;
            left: 0;
            transform: rotate(-25deg);
        }

        &--unchi {
            top: 46%;
            right: 0;
            transform: rotate(25deg);
        }
    }
}

.boom{
    @extend %card;
    gap: 16px;
    align-self: flex-start;

    @include mq(tab) {
        align-self: stretch;
    }

    h3{
        text-align: center;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    p{
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 24px;
        font-weight: 700;
        color: $txtColor;
        text-transform: uppercase;

        @include mq() {
            font-size: vw(20,375);
        }

        > span{
            width: 60px;
            filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.25));

            @include mq() {
                width: vw(60,375);
            }
        }
    }
}

.qa{
    @extend %card;
    gap: 16px;
    align-self: flex-start;

    @include mq(tab) {
        align-self: stretch;
    }
}