// common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

.scheduleSection {
    padding-top: 32px;

    @include mq() {
        padding-top: vw-sp(32);
    }

    h2{
        padding-bottom: 16px;
        
        @include mq() {
            padding-bottom: vw-sp(16);
        }
    }

    h3{
        padding-bottom: 12px;

        @include mq() {
            padding-bottom: vw-sp(12);
        }
    }

    p {
        text-align: left;
        padding: 0 20px;

        @include mq() {
            padding: 0 vw-sp(20);
        }
    }

    &__calendar {
        width: 450px;
        margin: 0 auto;

        @include mq() {
            width: vw-sp(450);
        }

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: separate;
            border-spacing: 5px;
            border: none;

            thead,
            tbody {
                display: table-header-group;
                display: table-row-group;
            }

            th,
            td {
                width: calc(100% / 7);
                color: $txtColor;
                padding: 20px 0;
                border: none;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
                vertical-align: middle;
                text-align: center;

                @include mq() {
                    padding: vw-sp(20) 0;
                    box-shadow: 0 vw-sp(2) vw-sp(5) rgba(0, 0, 0, 0.05);
                    border-radius: vw-sp(10);
                }

                &:first-child {
                    color: $sundayColor;
                }

                &:last-child {
                    color: $saturdayColor;
                }
            }

            .is-disabled {
                color: lighten($txtColor, 40%) !important;
            }

            .shark-day {
                position: relative;
                background-color: #7cedfc;

                &:before {
                    content: "🦈";
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    animation: float 2s ease-in-out infinite;
                }
            }

            .holiday {
                background-color: #ffce89;
            }

            .today {
                background-color: $mainColor;
                color: #fff;
            }
        }
    }
}