// common/_index.scss を読み込む（mixin が使える）
@use "../common" as *;

.sidebar {
    flex: 1;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    gap: clamp(28px, vw-pc(32), 32px);
    height: fit-content;
    position: sticky;
    top: clamp(28px, vw-pc(32), 32px);

    @include mq(tab) {
        flex-basis: 100%;
        position: unset;
        gap: vw(32, 375);
    }

    &__sticker {
        @extend %sticker_card;
        

        &--himawari {
            top: -8%;
            right: 0;
            transform: rotate(10deg);

            @include mq() {
                top: 0%;
            }
        }
    }

    .calendar {

        &-wrapper {
            @extend %card;
            position: relative;
        }

        caption{
            padding-bottom: .5em;
        }

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: separate;
            border-spacing: 5px;
            border: none;


            thead,
            tbody {
                display: table-header-group;
                display: table-row-group;
            }

            th,
            td {
                width: calc(100% / 7);
                color: $txtColor;
                padding: clamp(26px, vw-pc(30), 30px) 0;
                border: 2px solid $mainColor;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
                vertical-align: middle;
                text-align: center;

                @include mq() {
                    padding: vw(10, 375) 0;
                    box-shadow: 0 vw-sp(2) vw-sp(5) rgba(0, 0, 0, 0.05);
                    border-radius: vw-sp(10);
                }

                &:first-child {
                    color: $sundayColor;

                    > a{
                        color: $sundayColor;
                    }
                }

                &:last-child {
                    color: $saturdayColor;

                    > a{
                        color: $saturdayColor;
                    }
                }
            }

            .summer-vacation {
                background-color: $bgacColor;
                padding: 0;

                >a {
                    display: block;
                    padding: clamp(26px, vw-pc(30), 30px) 0;

                    @include mq() {
                        padding: vw(10, 375) 0;

                    }
                }
            }

            .is-null {
                opacity: 0;
            }
        }
    }
}