@charset "UTF-8";
// math モジュール
@use "sass:math";
@use "sass:map";

// common/_index.scss を読み込む（mixin が使える）
@use 'mixin' as *;
@use 'var' as *;

%swiper {
	padding: 0px 25px 20px;
	overflow: hidden;

	@include mq() {
		padding: 0px vw-sp(25) vw-sp(20);
	}
}

%swiper__img {
	width: 400px;
	border-radius: 50px;
	overflow: hidden;
	margin: 0 auto;
	display: block;

	@include mq() {
		width: vw-sp(400);
		border-radius: vw-sp(50);
	}
}

%swiper__txt {
	width: 400px;
	margin: 0 auto;
	padding: 20px 10px;

	@include mq() {
		width: vw-sp(400);
		padding: vw-sp(20) vw-sp(10);
	}
}

%wave__bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	background-color: #fff;
	mask-image: url('../img/wave.svg'), linear-gradient(#fff, #fff);
	mask-size: 1000px vw-sp(70),
		100% calc(100% - vw-sp(68));
	mask-repeat: repeat-x;
	overflow: hidden;
	animation: wave 5s var(--mh--easing04) infinite both;

	@include mq() {
		mask-size: 200vw 9.3333333333vw, 100% calc(100% - 9.0666666667vw);
	}
}

%card {
	display: flex;
	flex-direction: column;
	gap: .5em;
	border-radius: clamp(44px, vw-pc(50),50px);
	border: solid 5px $mainColor;
	padding: clamp(28px, vw-pc(32),32px);
	background-color: $cardColor;
	box-shadow: clamp(28px, vw-pc(32), 32px) clamp(28px, vw-pc(32), 32px) 0px 0px $subColor;


	@include mq() {
		padding: vw(32, 750);
		border-width: vw(3, 375);
		border-radius: vw(25, 375);
		box-shadow: vw(16,750) vw(16,750) 0px 0px $subColor;
	}
}

%sticker {
	position: absolute;
	z-index: 10;
	width: 6.25cqw;
	filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.25));

	@include mq(tab) {
		width: 11.71875cqw;
	}

	@include mq() {
		width: vw(120, 750);
		filter: drop-shadow(vw(3, 375) vw(4, 375) vw(2, 375) rgba(0, 0, 0, 0.25));
	}
}