$mainColor: #2DC7C2;
$subColor: #77E6E1;
$acColor: #FF5F9E;
$bgColor: #56D4CF;
$bgacColor: #FFD5B4;
$cardColor: #fffdf8d6;
$txtColor: #30556D;
$sundayColor: #ff0000;
$saturdayColor: #4169e1;

// math モジュール
@use "sass:math";
@use "sass:map";

// common/_index.scss を読み込む（mixin が使える）
@use 'mixin';